@page "/deck"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject DeckStateContainer deckContainer
@using MillEngine.Shared.Models.DTOs
@using MillEngine.Client.Memory
@implements IDisposable

<PageTitle>Decks</PageTitle>

<h1>Decks</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_decks == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Deck ID</th>
            <th>Commander</th>
            <th>Partner</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var deck in _decks)
        {
            <tr @onclick="@(() => NavigateToDeck(deck))">
                <td>@deck.Name</td>
                <td>@deck.Id</td>
                <td>@deck.Commander</td>
                <td>@deck.Partner</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private DeckEntry[]? _decks;

    protected override async Task OnInitializedAsync()
    {
        deckContainer.OnChange += StateHasChanged;
        _decks = await Http.GetFromJsonAsync<DeckEntry[]>("api/Decks");
    }

    private void NavigateToDeck(DeckEntry deck)
    {
        deckContainer.SavedDeck = deck;
        NavigationManager.NavigateTo($"/DeckView/{deck.Id}");
    }

    public void Dispose()
    {
        deckContainer.OnChange -= StateHasChanged;
    }
}